[2021-02-24 13:06] antfu opened #1 "Typo on the package name?"
`weback-windicss-plugin`
`webpack-windicss-plugin`

[2021-02-24 13:21] loonpwn commented on #1
:man_facepalming: ...

Thank you. FYI this repo is very much in a prototype phase currently, will clean it up and migrate to the windicss org most likely tomorrow

[2021-02-24 13:21] #1 closed

[2021-02-24 13:24] loonpwn commented on #1
Also @antfu this is pretty heavily reliant on your windicss util package with some potentially hacky webpack code.

If you can spare any time to check over how the webpack code is setup, it would be very much appreciated. Was a lot of learning while putting it together so really not sure about best practices.

[2021-03-09 13:26] loonpwn opened #3 "windicss throwing an errors break inits"
Need to catch the exception from this line

[code]

and pass on to the compiler OR don't run this code

[2021-03-10 00:34] loonpwn commented on #3
https://github.com/windicss/vite-plugin-windicss/pull/74/files

[2021-03-10 10:38] loonpwn commented on #3
This is solved with the package upgrade

[2021-03-10 10:38] #3 closed

[2021-03-18 12:11] kgnfth opened #10 "Compile is always true in Gridsome"
this is my gridsome.config.js file

[code]

i set compile to false but it still runs with `Compilation Mode`
i changed the prefix to `change-` to see if it reads my config but the result is still `windi-`

[2021-03-18 12:12] TryHardDood opened #9 "An example for Angular with Webpack?"
Can someone show me an example when this plugin is being used with Angular & Webpack?

[2021-03-19 14:35] harlan-zw commented on #10
Hey @kgnfth. I haven't tried this with Gridsome yet but will take a look

[2021-03-22 02:39] harlan-zw commented on #9
Hey @TryHardDood

I have tried it with angular but it has an _interesting_ webpack setup which I haven't been able to figure out.

This is as far as I got https://github.com/windicss/windicss-webpack-plugin/blob/feat/angular-example/example/angular/webpack.config.js

If you have any experience with it would love a hand.

[2021-03-22 04:06] harlan-zw commented on #10
Official gridsome plugin has been added, see: https://github.com/windicss/gridsome-plugin-windicss

[2021-03-22 04:06] #10 closed

[2021-03-22 04:53] kgnfth commented on #10
Thank you very much bro

[2021-03-22 06:19] ernieyang09 opened #11 "Problem with webpack-dev-server(hot reload)"
Hi, I'm trying to create a react repo without any cli.

I try your example and everything is fine.

But when I try to implement it with babel-loader, It only generated the class first time.

If I modify the class in code later, it will rebuild without any style change.

Here's my config

[code]

.babelrc
[code]

I think problem might be something with babel-loader.
When I replace it with svelte-lo

[2021-03-29 09:01] harlan-zw commented on #11
Hey @ernieyang09.

Apologies for the delay in response. I'm not exactly sure what the issue here and it seems like it may be a bit of a challenge to debug.

Would you be open to use craco? We know it works with that via https://github.com/shannonrothe/windicss-craco-plugin

[2021-03-30 06:44] cloydlau opened #12 "Not compatible with Vue CLI 5 (Webpack 5)"
Reproduce:
Head for `./example/vue2/package.json` and change all versions of vue-cli tools to `5.0.0-alpha.8` (latest).
Run `npm run build`, an error occurred:
`Syntax Error: Thread Loader (Worker 0)
Cannot read property '$windyCSSService' of undefined`

[2021-03-31 01:14] harlan-zw commented on #12
Hi @cloydlau

This has been fixed in #13. I've also added a new example for vue-cli-5 here: https://github.com/windicss/windicss-webpack-plugin/tree/master/example/vue-cli-next

Note that the eslint dependency had to be removed.

Let me know if you have any further issues.

[2021-03-31 01:16] harlan-zw commented on #11
Also or alternatively can you try with v0.3.0

[2021-03-31 02:33] cloydlau commented on #12
Hello, I've tried that vue-cli-5 example and I wonder if you are using `pnpm`, the situation is `pnpm` is ok but `yarn` don't, same error occurred when using `yarn`.

[2021-03-31 03:12] harlan-zw commented on #12
Can you double-check it updated correctly? Seems weird it would have the same issue even after an upgrade.

Otherwise can you provide a reproduction repo and I can take a look?

[2021-03-31 03:31] cloydlau commented on #12
https://github.com/cloydlau/reproduce.git

run `yarn && yarn build`

[2021-03-31 03:38] harlan-zw commented on #12
Ah thanks @cloydlau, I was only doing `yarn dev`. Can reproduce this now

[2021-03-31 04:01] ernieyang09 commented on #11
hmm.... don't see any change with v0.3.0.
I'll use some react-starter(craco) to dev then.

[2021-03-31 04:40] harlan-zw commented on #12
Hey @cloydlau should be sorted in 0.3.1, can you please try and let me know how it goes.

There is also an official vue-cli plugin which should be working with this fix https://github.com/windicss/vue-cli-plugin-windicss

[2021-03-31 06:05] cloydlau commented on #12
Doing ok in `0.3.2`, thanks.

[2021-03-31 06:05] #12 closed

[2021-04-06 01:34] chsword opened #14 "error about scan.dirs"
vue.config.js
when 0.2.7 I can use
[code]
but 0.3.2,it does not work, I should change the 'dirs' to
[code]

[2021-04-06 17:39] nblthree opened #15 "Doesn't work with Next.js styled jsx"
[code]

[2021-04-09 05:01] harlan-zw commented on #14
Hey @chsword

Thanks for the issue, sorry you're having issues. The scanning configuration has changed a little bit over some versions. The latest best practice is described in the read me now.

Because you provided an updated version which presumably works, I'll close this off.

[2021-04-09 05:01] #14 closed

[2021-04-09 05:02] harlan-zw commented on #15
Hey @nblthree

Thanks for the issue. I don't work with Next.js or jsx, would you be able to help me look into this?

What does the Layout.jsx file look like?

[2021-04-09 07:41] nblthree commented on #15
simple stuff

[code]

[2021-04-09 10:36] nblthree commented on #15
I don't know if the loader is applied to the above but maybe styled-jsx should be ignored too here https://github.com/windicss/windicss-webpack-plugin/blob/master/src/loaders/transform-template.ts#L37

[2021-04-09 12:23] nblthree commented on #15
I think that it should be handled with Vue SFC's `<style>`

[2021-04-09 13:28] mkhennoussi opened #34 "Module not found: Error: Can't resolve 'windi.css'"
Hi guys,

Thanks for your work on windicss.

I tried to add windicss in a Phoenix App. I've modified the webpack.config.js file by adding the WindiCSSWebpackPlugin.
When I add the ``` import "windi.css"; ``` in the app.js entry file, I get this error :
``` Module not found: Error: Can't resolve 'windi.css' ```

Where does this windi.css comes from ? (Sorry I'm not a webpack expert)
It seems to be

[2021-04-09 21:53] dacodekid opened #35 "Cannot read property '~' of undefined"
I just came to know about `windicss` and tried to use it with `webpack` - but receiving this below error.

[code]

Here is the `package.json`
[code]

And `webpack.config.js` file

[code]

*Environment:*
[code]

I tried to create a sample project in different level of `webpack.config.js` code but, it always breaks at this level.  Am I missing anything?

[2021-04-10 05:21] dacodekid commented on #35
I was able to fix it with

[code]

[2021-04-10 05:21] #35 closed

[2021-04-13 12:00] JessicaSachs opened #42 "Nuxt Content v2.13.0 Seems to hang when trying to load the config file path"
Hey, trying to setup WindiCSS with Nuxt content for Cypress's documentation.

I followed the setup docs on this repo as well as the ones on the [nuxt plugin](https://github.com/windicss/nuxt-windicss-module), but after cutting over, my build hangs midway through.

The project is OSS so I have a [failing branch here](https://github.com/cypress-io/cypress-documentation/tree/spike/windicss)

Steps to

[2021-04-15 08:30] soilSpoon opened #46 "No new generate when used with nextjs webpack 5."

[2021-04-17 22:30] razbakov opened #71 "Importing external css breaks the build"
Importing css from `videojs` breaks build

### Steps to reproduce

[code]

### Actual result

[code]

It seems that windicss is trying to process imported css.

That's a huge drawback as it stops you from using almost any existing component, which requires css.

Might be related to windicss/windicss#102 and windicss/windicss#199

[2021-04-30 04:25] LanJamRom opened #63 "how to use it in umijs?"

[2021-04-30 13:47] steakscience opened #65 "Next.js example doesn't work"
Hi there,

The Next.js example doesn't seem to work. I've tried fixing the const require to not error, but even then it will not work.

Any help here would be appreciated, it seems like windi.css is not being imported?

[2021-05-03 02:59] harlan-zw commented on #63
Hey @LanJamRom

I've added an umijs example, seems to work correctly as far as I could tell.

See: https://github.com/windicss/windicss-webpack-plugin/blob/master/example/umijs/.umirc.ts

Note you should replace

`import WindiCSSWebpackPlugin from '../../dist/index.js'`

 with

`import WebpackWindiCSSPlugin from 'windicss-webpack-plugin'`

Let me know if you have any issues

[2021-05-03 02:59] #63 closed

[2021-05-03 03:32] #15 closed

[2021-05-03 03:37] harlan-zw commented on #65
Hey @steakscience

Firstly can you upgrade to v0.4.0. If this version doesn't work can you share your code with me?

As far as I can test locally the next example does work, however, the hot module reloading can sometimes be finicky, which is something I will look into separately.

Your config should look something like this

[code]

[2021-05-03 03:38] harlan-zw commented on #46
Hey @soilSpoon

The latest version v0.4.0 has better react support but may still have this issue, as I'm not exactly sure what you mean.

Would you mind sharing some details on this issue? What does "no new generate" mean?

I don't have much experience with Next.js

[2021-05-03 03:39] harlan-zw commented on #34
Hey @mkhennoussi

Thanks for the issue and apologies for the delay in getting back to you.

Could you try upgrading your package to v0.4.0 and try again.

Otherwise please share a reproduction repo and I'll do my best to fix it.

[2021-05-03 03:40] harlan-zw commented on #15
This one should now be resolved in v0.4.0, thanks again for your help @nblthree

[2021-05-03 04:07] steakscience commented on #65
Hi @harlan-zw,

It works perfectly now! Thank you 🤗

[2021-05-03 04:07] #65 closed

[2021-05-03 05:58] soilSpoon commented on #46
I'm sorry I couldn't explain it properly.

In development mode (ex. yarn dev), it is not reflected when changing `bg-yellow-500` to `bg-yellow-600`.

Expected before background color: yellow-500
Received before background color: yellow-500

Expected after background color: yellow-600
Received after background color: transparent

[2021-05-03 06:02] harlan-zw commented on #42
Hey @JessicaSachs  :)

Thanks for your interest in Windi and apologies for the delay in getting back to you.

The problem seems to be that you're running both the nuxt windi module as well as the old windi pre-processor (which is now deprecated). With the nuxt windi module you don't need to add the pre-processor.

I've made a PR into your branch to fix that up.

[2021-05-03 06:02] #42 closed

[2021-05-03 12:34] harlan-zw commented on #46
Thanks @soilSpoon

I've taken a look and I can replicate your issue. It seems that Next uses its own implementation of webpack's HMR (Fast Reload).

I've spent a while trying to solve it but I haven't been able to. I feel like a solution to this could be some sort of hybrid solution with the dom runtime to run after the fast reload, otherwise I'm not really sure what can be done because the loader

[2021-05-03 12:41] theodorusclarence opened #68 "Error: Cannot find module '../../dist/index.js'"
**Describe the bug**
Can't start dev server

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Next.js App from create-next-app then follow the structure on the example
2. Run the dev server

[code]

[2021-05-03 12:49] theodorusclarence commented on #68
[code]

Solved by changing the ../../dist/index.js to the import

Was I supposed to do that? 😅

[2021-05-03 12:49] #68 closed

[2021-05-04 04:32] harlan-zw commented on #11
related to https://github.com/windicss/windicss-webpack-plugin/issues/11

[2021-05-04 06:15] harlan-zw commented on #71
Hey @razbakov

I've moved this issue into the webpack plugin project.

Can you upgrade your package to v0.5.0 and try again. Alternatively, make sure you're excluding the node_modules folder from scanning, see: https://github.com/windicss/vite-plugin-windicss#scanning

[2021-05-05 03:07] LanJamRom commented on #63
Thanks a million！

[2021-05-09 13:02] Albert-cord opened #72 "bug: pitcher-loader affect other webpack plugin"
Hello, I found a bug.
Version
0.5.0

Reproduction link
This is difficult to reproduce.
Because special circumstances are needed, such as when using vue3 to apply taro, and when using taro-plugin-tailwind to apply windicss, it can be reproduced when the target of the build application is weapp.

Steps to reproduce
In the above case, run the miniprogram DevTools, Vue program is not generated by conn

[2021-05-10 00:56] #71 closed

[2021-05-10 00:57] #72 closed

[2021-05-22 16:25] cah4a opened #76 "Template files are not watched"
When I change a template file nothing happens.

I'm using webpack and twig as a template engine.
I've tried both `windicss-webpack-plugin` and `postcss-windicss`.

The behavior is the same for both of these integration methods:
It extracts only on startup and never runs extraction again.

I understand that webpack doesn't know about my templates, so I've added 'webpack-watch-files-plugin' to trigg

[2021-05-24 01:14] rain0002009 opened #75 "The new version makes hmr slow"
When I upgraded to the latest 0.5.3 version, I found that my hmr slowed down. It used to be at most 2 seconds and now it takes about 10 seconds.
Then I started to downgrade until 0.5.0 when it became normal.

[2021-05-24 06:33] harlan-zw commented on #76
Hi @cah4a

Can you share your windi and webpack config, ideally with a replication repo.

Thanks

[2021-05-24 06:33] #75 closed

[2021-05-24 06:36] harlan-zw commented on #75
Hey @rain0002009

Please try version 0.6.1 and let me know if there's any improvement

[2021-05-26 03:44] LanJamRom opened #77 "h-[calc(100% - 2rem)] don't work in umijs"
"windicss": "3.0.12",
"windicss-webpack-plugin": "0.6.1"

![image](https://user-images.githubusercontent.com/41603622/119599453-9c419100-be17-11eb-807a-425064610b93.png)
![image](https://user-images.githubusercontent.com/41603622/119599504-b54a4200-be17-11eb-9dd8-c99906624579.png)

[2021-06-03 07:54] #77 closed

[2021-06-03 07:54] LanJamRom commented on #77
sorry

[2021-06-03 07:57] Fl0pZz opened #79 "windicss-webpack-plugin + storybook, how to use?"
hi, how can I friend storybook with windicss-webpack-plugin?

[2021-06-24 12:26] #79 closed

[2021-06-24 12:29] harlan-zw commented on #79
Hey @Fl0pZz

I have added some details in the docs for integration here: https://windicss.org/integrations/webpack.html#storybook, you can also check out the example repo I made https://github.com/windicss/windicss-webpack-plugin/tree/master/example/vue3-storybook

[2021-06-24 12:30] harlan-zw commented on #76
Also, I don't think windi supports twig, only pug at the moment :thinking:

Happy to look into this further but I'll need a reproduction repo, will close until there is one.

[2021-06-24 12:31] harlan-zw commented on #11
Going to close this as it's the same as #11

[2021-06-24 12:31] #11 closed

[2021-06-30 12:25] lautiamkok opened #84 "[webpack-cli] Promise rejection: TypeError: WindiCSS is not a constructor"
Following the installation guide here https://windicss.org/integrations/webpack.html for webpack, I get the following error:

[code]

Why?

I am using webpack 5.

[2021-07-04 06:20] kikyous commented on #46
It seems that is caused by webpack 5 cache.

[2021-07-04 06:21] kikyous commented on #46
https://github.com/sysgears/webpack-virtual-modules/issues/86

[2021-07-05 06:24] harlan-zw commented on #84
@lautiamkok This package acts as a bridge for the first-class support frameworks, such as Nuxt & Vue CLI.

When using it for something custom outside of these there are far too many edge cases for me to predict and the only way I fix issues for _your_ specific issues, if if you make an issue for them.

This is open-source, if you're going to provide feedback, make it constructive. If you don't lik

[2021-07-05 06:24] #84 closed

[2021-07-05 06:38] harlan-zw commented on #46
Thanks @kikyous, will take a look

[2021-07-05 07:07] harlan-zw commented on #46
Well it seems like this was indeed the issue :man_facepalming: Just needed to disable the cache for the virtual module, thanks again @kikyous! :clap:

@soilSpoon Would you mind testing this is working for you in version 1.2.3 and we can close this issue off?

[2021-07-05 07:38] soilSpoon commented on #46
It seems to be working fine. but when I set it up as per [webpack4 example](https://github.com/windicss/windicss-webpack-plugin/blob/master/example/next/next.config.js), it doesn't work.

Like https://github.com/soilSpoon/my-next-app/blob/main/next.config.js, you need to give the scan option to work properly.

[2021-07-05 09:21] harlan-zw commented on #46
@soilSpoon One difference now is that it's recommended you configure windi through the windi config file. So the scan options have been moved there.

I've updated the Next.js install docs here https://windicss.org/integrations/webpack.html#next-js and updated the example.

I've also made a PR to your repo for the fixes that get it working https://github.com/soilSpoon/my-next-app/pull/10

[2021-07-05 13:14] lautiamkok commented on #84
@harlan-zw did I say I don't like this framework?

[2021-07-05 15:47] soilSpoon commented on #46
@Harlan-zw Oh! looks good. I think this issue is now resolved! Thanks!

[2021-07-05 15:48] #46 closed

[2021-07-07 13:07] ModyQyW opened #85 "Build Next example failed"
**Describe the bug**

I got an error when I try to build Next example.

**To Reproduce**

Steps to reproduce the behavior:
1. Clone `windicss-webpack-plugin` repository
2. Run `yarn && yarn build` in the root
3. Go into `windicss-webpack-plugin/example/next` and run `yarn`
4. Update `next.config.js` (add `eslint` field)

[code]

5. Run `yarn build` and see the error

![image](https://user-images.g

[2021-07-08 07:05] rlaphoenix commented on #85
I too am having this problem. Specifically, in my case the area of the code being pointed out is the start of `windicss/plugin/forms`, or at least appears to be.

However, in my case npm run dev (`next dev`) doesn't have any problems, not even a warning. It's only npm build (`next build`) with the problem.

![image](https://user-images.githubusercontent.com/17136956/124877643-2f4b1a80-dfc3-11eb-9d

[2021-07-08 07:19] ModyQyW commented on #85
`next dev` is also fine to me. Only `next build` having the issue.

I try webpack 4 and it works well.

[code]

[2021-07-08 08:04] harlan-zw commented on #85
Thanks guys, taking a look

[2021-07-08 08:12] harlan-zw commented on #85
@ModyQyW @rlaphoenix

Thanks for reporting the bug. Looks like something weird going on with webpack 5 and next re-ordering the loader.

Should be fixed in release v1.2.5, can you try that version and let me know how it goes

[2021-07-08 08:17] ModyQyW commented on #85
@harlan-zw Works now. Thanks! :D

[2021-07-08 08:19] #85 closed

[2021-07-08 08:22] rlaphoenix commented on #85
I would also like to mention that when I change something in my code, e.g. a className, save, and npm dev reloads does whatever it needs to do, `windicss` doesnt get set. As in, no CSS seems to get applied, at all.

[2021-07-08 08:30] harlan-zw commented on #85
hey @rlaphoenix

I have noticed that there is a bug with the regex class matcher, for example given this code

[code]

Only the bolded classes here will work. You can get around that by adding spaces at the end and start

[code]

[2021-07-08 09:40] rlaphoenix opened #86 "[NextJS] Page WindiCSS being removed on next page build if any change occurred in `next dev`"
**Describe the bug**
When I change something in a page, be it some JSX, className value, some text, anything, the CSS stops working, and never recovers. It seems to occur whenever ANY sort of page gets built **after an edit is made, prior to the page build**. It doesn't even have to be a user-made page in /pages. It can even be the `build page: /next/dist/pages/_error`.

**To Reproduce**
1. Clone

[2021-07-08 09:43] harlan-zw commented on #86
Thanks @rlaphoenix, will try get to it tomorrow

[2021-07-09 05:19] harlan-zw commented on #86
Hey @rlaphoenix

I was able to replicate this issue, it was a pretty annoying one to try and fix but I think I may have a 'bandaid' solution. Basically, we invalidate the module with the full source so that HMR's can't trigger broken virtual module states.

Would you mind doing some testing on  1.3.0 to see if you can replicate it or if it causes new problems?

[2021-07-09 07:08] rlaphoenix commented on #86
1.3.0 does seem to fix the problem where it resets the CSS and goes blank, but it doesn't ultimately fix the problem. It doesn't reset the CSS when you follow the reproduction steps, but it does not add any new CSS changes either, when you change/remove/add a className for example.

I think this may not have been spotted since the example code only has one page, and for this to work it seems like

[2021-07-12 16:03] 0x219 commented on #34
This problem still exists

[2021-07-13 02:30] 0x219 opened #87 "Module not found: Can't resolve 'windi.css'"
**Describe the bug**
Module not found: Can't resolve 'windi.css'

**To Reproduce**
None
**Expected behavior**
Normal start.

**Screenshots**
![image](https://user-images.githubusercontent.com/50414099/125380765-5049ac00-e3c5-11eb-99c1-7ee0e7ae805d.png)

**Additional context**
Add any other context about the problem here.

version: v1.3.0
os: mac os 11.4

[2021-07-18 10:59] 0x219 commented on #87
。。。

[2021-07-18 20:57] rlaphoenix commented on #86
Is there any update on this?

[2021-07-20 03:01] #87 closed

[2021-07-22 02:41] harlan-zw commented on #86
Hey @rlaphoenix

Thanks again for the detailed issue and patience. I dived into the issue to try and find the problem, it seems it was around the invalid hooks in webpack5 reporting null entries.

What it will now do is when it detects these null entries, it will re-scan all your files when generating the virtual module.

Can you try with 1.4.0 and confirm the issue is resolved?

[2021-07-22 02:49] rlaphoenix commented on #86
Amazing, it seems to work as expected now. Thank you!

[2021-07-22 02:49] #86 closed

[2021-08-04 13:42] JiangWeixian opened #89 "translate styled jsx failed in `next/pages/layout`"
**Describe the bug**
A clear and concise description of what the bug is.

replace code in `example/next/pages/layout.jsx` with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repository
2. Run `yarn` in root && cd `example/next` && `yarn` && `yarn dev`
3. See error

**Expected behavior**
css in styled jsx should be translated

**Screenshots**

![image](https://user-images.

[2021-08-04 13:47] JiangWeixian commented on #89
I open a pr https://github.com/windicss/windicss-webpack-plugin/pull/88/files to fix it

[2021-08-05 07:24] harlan-zw commented on #89
Hey @JiangWeixian

Thanks for the contribution! I have merged your PR and wrote a quick test to make sure that this doesn't break in the future.

Fix is available in release 1.4.2

[2021-08-05 07:24] #89 closed

[2021-08-10 13:55] razbakov commented on #71
@harlan-zw thank you! it's working now! Tested with

[code]

[2021-08-24 13:11] philippstucki opened #90 "Lodash is Used but is Not a Dependency"
**Describe the bug**
Lodash is used in `src/loaders/transform-template.ts` but it is not listed as a dependency in `package.json`. When using this plugin w. Next.js like described in the [documentation](https://windicss.org/integrations/webpack.html#next-js) I get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Next.js app using `yarn create next-app`
2. Add

[2021-08-25 01:08] #90 closed

[2021-08-25 01:20] harlan-zw commented on #90
Hey @philippstucki

Thanks for the issue and good catch!

Not having the lodash dependency is for sure an issue which I'll push up a fix for now.

However, lodash should only be needed if your parsing a template file that `html-webpack-plugin` is using, which to my understanding does require lodash. Could you tell me what version of `html-webpack-plugin` you're app is using?

[2021-08-30 08:33] donrsh opened #91 "HMR for NextJS failed on windi.config.js change"
**Describe the bug**
As title. It seems `windi.config.js` change doesn't cause HMR on a next.js project.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository: https://github.com/donrsh/issue-NextJS-HMR-on-windi-config-change
2. Run `yarn dev`
3. Visit http://localhost:3000
4. Modify extend color in `windi.config.js` (e.g. `red: "#f00"` -> `red: "#0f0"`)

**Expected behavior**
Obs

[2021-09-01 02:01] harlan-zw commented on #91
Hey @donrsh

Thanks for the issue and reproduction link!

I took a quick look and unfortunately couldn't replicate the issue. Which means it's either one of two things:
- Something weird going on with your caching, try deleting the `node_modules/.cache` folder
- A windows specific issue on watching files

If it's not the first issue then it's a bit tricky for me to debug since I don't have windows

[2021-09-02 01:52] donrsh commented on #91
Hi, @harlan-zw, thanks for the help.

By following the instruction, here's the results

1. There is a line saying the `windi.config.js` is used:
![擷取1](https://user-images.githubusercontent.com/7490144/131768321-93771f62-b602-441b-b4df-d5bb62d0d782.PNG)

2. No output to terminal after `windi.config.js` change. While modifying the page files DOES show some stuff:
![image](https://user-images.github

[2021-09-02 06:11] transtone opened #92 "不兼容 mfsu"
**Describe the bug**
[code]

umi3 项目配置开启 msfu 是，会报找不到 `windi.css` 的错误。

[2021-09-02 06:14] harlan-zw commented on #92
Hey @transtone

Guessing this is the same issue as https://github.com/windicss/vue-cli-plugin-windicss/issues/26 ?

So either add the ignore for windi or you can try import `virtual:windi.css` instead

[2021-09-03 02:10] transtone commented on #92
webpack5's msfu not use `.eslintrc.js`, and `import 'virtual:windi.css'` not worked either.

[2021-09-03 04:19] harlan-zw commented on #92
Are yu able to provide a reproduction repo for me

[2021-09-03 22:31] transtone commented on #92
this is a reproduction repo:
https://github.com/transtone/umijs-windicss

[2021-09-07 15:42] tmkx opened #93 "Node.js crashed when using windicss and mdx-bundler in Next.js dev mode."
**Describe the bug**
Node.js crashed when using `windicss` and `mdx-bundler` in Next.js dev mode.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository https://github.com/tmkx/next-windi
2. Run `pnpm dev`
3. Open `http://localhost:3000/posts/hello-world`
4. See error

**Behavior**
mdx-bundler + dev/build = ✅
windi + dev/build = ✅
windi + mdx-bundler + build = ✅
windi + mdx-bundler

[2021-09-11 06:56] tmkx commented on #93
I have figured out that it's caused by:

1. windicss-webpack-plugin
https://github.com/windicss/windicss-webpack-plugin/blob/d2252189e5c189710a0a4b9dd9eaef6a64b54888/src/plugin.ts#L236

2. @windicss/plugin-utils
https://github.com/windicss/vite-plugin-windicss/blob/71308dbedbf40268ee2d1dd517d0dabcf8652809/packages/config/src/index.ts#L71

3. jiti
https://github.com/unjs/jiti/blob/a7e3eaca580daf54c

[2021-09-12 04:13] harlan-zw commented on #92
Hey @transtone

Thanks for the reproduction link. I've looked into it, it seems like an issue with the MFSU and virtual modules. I've made an issue on the umi repo https://github.com/umijs/umi/issues/7303, will sort out a proper fix if they get back to me.

For now, if you really want to get it running, you can disable mfsu:
[code]

You will also need to import windi as `windi.css` instead of `vir

[2021-09-12 05:03] harlan-zw commented on #93
Hey @tmkx

Thanks for the detailed issue and the debugging! I've taken a look and have been able to replicate the issue and come to the same conclusion on the issue.

It seems that jiti is having a conflict with the mdx-bundler package, maybe something with esbuild.

Jiti is used in the config resolving package, so I've made an issue there for making jiti optional (https://github.com/windicss/vite

[2021-09-12 05:27] tmkx commented on #93
The root cause is that `jiti` uses `v8-compile-cache`, `require` will be rewritten and make importing esm in cjs context an error.

relevant code:
https://github.com/kentcdodds/mdx-bundler/blob/f6bebc9e4763a91d5ec042ed669c5c726f455d7a/src/index.js#L41-L47

jiti issue and minimum code to replicate:
https://github.com/unjs/jiti/issues/38

We can set the environment variable `DISABLE_V8_COMPILE_CACHE

[2021-09-12 05:34] harlan-zw commented on #93
Ah nice one, looks like you're more across this issue than me. Thanks for making the jiti issue.

Do you think this issue would still be helpful https://github.com/windicss/vite-plugin-windicss/issues/233?

Or would a jiti issue fix resolve it

[2021-09-12 05:45] tmkx commented on #93
maybe exposing an option to disable v8cache in `jiti` is more suitable 🤔

I've made a pr to fix that: https://github.com/unjs/jiti/pull/39

[2021-09-14 08:56] #93 closed

[2021-09-18 06:35] transtone opened #95 "convert `!` to `i-` for support wxss"
**Is your feature request related to a problem? Please describe.**
I use windicss in wechat miniapp with https://github.com/pcdotfan/taro-plugin-tailwind,
but wechat miniapp's wxss can't support slash and backslash as a classname, some widicss feature can't use.

**Describe the solution you'd like**
Is there a plan to translate `!text-12px` to `i-text-12px`, to avoid a backslash in classname?

[2021-09-18 06:42] transtone commented on #77
`h-[calc(100%-2rem)]` will work.

[2021-10-08 02:06] hsuan9522 commented on #87
@0x219 Hi, how you solve this problem? I'm not use Next.js, but still has the same issue.

[2021-10-08 10:27] 0x219 commented on #87
弃用

[2021-10-27 11:42] HopperDai opened #96 "SyntaxError: Unexpected token '?' in next"
**Describe the bug**
Appear error when run the example of next
`windicss-webpack-plugin/example/next/node_modules/windicss-webpack-plugin/dist/plugin.cjs:45
    const root = this.options.root ?? compiler.options.resolve?.alias?.["~"] ?? compiler.context;
                                    ^`
![image](https://user-images.githubusercontent.com/21030653/139059003-fcc60a43-052c-44b9-a99d-05ac8a43a5ba

[2021-10-28 09:07] antoninbeaufort opened #97 "Build problem with Next 12 on Vercel"
**Describe the bug**
Sorry for my English I'm french :/
When upgrading from Next 11.1.2 to Next 12 this plugin seems to break on Vercel build :
`[Error: ENOENT: no such file or directory, lstat '/vercel/path0/virtual:windi.css']`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Next 12 project, implement windicss-webpack-plugin using
#### **`next.config.js`**
[code]
in module.exports

[2021-10-29 10:23] HenrijsS opened #98 "[Next.js] TypeError: WindiCSSWebpackPlugin is not a constructor"
**Describe the bug**
The module seems to not recognize the class.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Next@latest
2. Add windicss-webpack-plugin
3. Import it in next.config.js
4. See it's not recognized as a class

**Expected behavior**
When I started the project, the plugin was at version `1.4.10` and that seems to be working fine.
The issue breaks on the latest `1.5.5`

[2021-10-29 10:38] #98 closed, assigned to nobody

[2021-11-04 03:02] oyzhen opened #99 "types: default exports doesn't work in commonjs"
**Describe the bug**
types: default exports doesn't work in commonjs.

**Steps**
Enable ts-check in `next.config.js`

[code]
Then, ts-check error occurs:

![image](https://user-images.githubusercontent.com/52534412/140250483-848715dc-530b-46ca-8c8f-15b28a693ce4.png)
![image](https://user-images.githubusercontent.com/52534412/140250509-a3da131e-ef07-401d-a7f9-b0c5b7a621f9.png)

[2021-11-08 08:47] Defite commented on #98
Strange, but I still have this error.

[2021-11-08 08:48] HenrijsS commented on #98
@Defite Make sure you're on the latest version.
Can you please share the Config file?

[2021-11-08 08:57] Defite commented on #98
My fault, sorry. Had to clean .next folder and reinstall node_modules. Now it's ok.

[2021-11-17 14:52] masonzz opened #101 "Genetate duplicated css in dev mode when Attributify Mode is enable"
**Describe the bug**
Genetate duplicated css in dev mode

**To Reproduce**
I could provide a repository if you need.

**Screenshots**
[code]
it's ok when first render.

![image](https://user-images.githubusercontent.com/9844455/142221534-634bf4a9-e642-44b6-891e-765f5ca0bf9e.png)

then I change `p="t-10"` to `p="t-15"`, it's still ok

![image](https://user-images.githubusercontent.com/9844455/14222

[2021-11-18 01:37] harlan-zw commented on #101
Hey @masonzz

Thanks for the issue, good catch. This seems like an issue with the windi core only affecting the development HMR. Since we have affordances in development for dodgy stuff like this, I'd deem this fairly low priority to fix.

However, I'll try to dig into it a bit deeper when I have some time

[2021-12-08 15:02] imshenshen opened #103 "vue sfc custom block error"
https://github.com/windicss/windicss-webpack-plugin/pull/102
after update 1.5.8 ，the [vue-i18n-loader](https://github.com/intlify/vue-i18n-loader) custom block `<i18n>` dose not work。the vue-i18n-loader didn't run any code

[2021-12-09 01:44] harlan-zw commented on #103
Hey @imshenshen

Thanks for reporting that issue. I've dug into the logic for pitching and found some underlying logic issues. There's a fix in 1.6.0 which should hopefully solve this and the issue in #102.

Can you give it a go and let me know. @winixt Can you also test when you get a chance

I had some issues trying to get the <i18n> block working altogether in the vue2 vue-cli example app, as f

[2021-12-15 09:51] winixt commented on #103
I have written a custom loader to handle.

[2021-12-17 03:18] viarotel opened #104 "@layer The command does not work"
**Describe the bug**
@layer The command does not work
**Screenshots**
![image](https://user-images.githubusercontent.com/38282758/146483382-19bf02d2-9e9b-4a53-9a9e-57f16bc07415.png)
![image](https://user-images.githubusercontent.com/38282758/146483419-32b77038-51c9-40f6-857f-cfe45d56ed2d.png)

[2021-12-27 15:38] thetre97 commented on #76
@harlan-zw I have the same issue with Edge templates (using Adonis & Webpack). I have created a reproduction repo here: https://github.com/thetre97/adonis-windicss-webpack

[code]

Then install deps & run the `develop` command. On first load it will correctly add the styles, but if you go to `resources/views/welcome.edge` and edit any of the classes there, it doesn't seem to reload.

I have tried

[2022-01-30 01:33] anwarulislam opened #105 "Support for Angular projects"

[2022-02-01 03:33] harlan-zw commented on #105
Same as: https://github.com/windicss/windicss-webpack-plugin/issues/105

[2022-02-01 03:33] #105 closed

[2022-02-01 03:52] harlan-zw commented on #104
Had some issues setting up tests with postcss, but if you put that code in a simple CSS file it seems to work correctly. See https://github.com/windicss/windicss-webpack-plugin/commit/baea54021e1726013b0b592c227ca7cd99f29c43

It might of been the windi update that fixed it, or just an issue with SFC & postcss

[2022-02-01 03:55] #104 closed

[2022-02-01 03:56] #103 closed

[2022-02-01 04:05] #96 closed

[2022-02-10 00:04] bfourgeaud opened #106 "Next.js not working"
**Describe the bug**
When installing windicss-webpack-plugin I get that error :
[code]

**next.config.ts**
[code]

**_app.tsx**
[code]

**windi.config.ts**
[code]

**package.json**
[code]

[2022-02-10 00:11] bfourgeaud commented on #106
OK found the problem, there was still the postcss.config.js file somewhere in the project ... Seems to made trouble !

[2022-02-10 00:11] #106 closed

[2022-02-11 11:12] SuperHuangXu opened #107 "My change of class name does not take effect in umijs and needs to be restarted to take effect."
**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository https://github.com/windicss/windicss-webpack-plugin/blob/main/example/umijs/README.md
2. Run '....'
3. See error

[2022-02-15 09:44] chenxingyu350128 opened #108 "Cannot read property 'afterCompile' of undefined"
**Describe the bug**
I follow the tutorial "https://windicss.org/integrations/webpack.html" then when I run the "npm run dev"

terminal throw the error:
TypeError: Cannot read property 'afterCompile' of undefined
    at WindiCSSWebpackPlugin.apply (F:\learn\windicss-tutorial\node_modules\_windicss-webpack-plugin@1.6.4@windicss-webpack-plugin\dist\plugin.cjs:130:20)
    at Compiler.apply (F:\learn\

[2022-02-16 02:39] harlan-zw commented on #108
Hey @chenxingyu350128

This plugin requires the use of the compiler hooks, I don't know too much about using the webpack-dev-server CLI but I feel like maybe it doesn't support these?

If you're able to provide a reproduction repo I can confirm that, but the resolution may just be it's not supported.

Could you try `webpack serve` instead?

[2022-02-16 15:16] jsanta commented on #9
Hi.
As far as I've seen the problem is not on how Angular makes its compilation, but on how Webpack is getting the styles.
I've made the following tests:
1. created an Angular project
2. installed windi-webpack plugin
3. added `import 'windi.css';` to the main.ts file
4. installed [@angular-builders/custom-webpack](https://www.npmjs.com/package/@angular-builders/custom-webpack)
5. created a webpac

[2022-04-11 11:36] await-ovo commented on #108
@chenxingyu350128  I think maybe you need to upgrade your webpack version to v4 or higher. v3 after-compile hook is used differently, like the following:
[code]

[2022-04-12 00:26] karyanayandi opened #109 "Error when use extractors on windi config"
**Describe the bug**
I use storybook with windicss webpack plugin and use extractors option like on documentation but there's error like below.
![Cheese_22 04 12_07 21 21](https://user-images.githubusercontent.com/25613501/162854120-0a2ddf56-bb9e-4f2c-bc09-068a4ad4789c.png)

### this is my windicss config

[code]

[2022-04-12 03:57] await-ovo commented on #109
@harlan-zw Hi, I can reproduce this issue on my side too, I think we might need to make the `@windicss/plugin-utils` compatible with custom extractor which return undefined tags, attributes values, etc.

The[ relevant code](https://github.com/windicss/vite-plugin-windicss/blob/main/packages/plugin-utils/src/extractors/helper.ts#L43) changed to this should work, and if it does, I'm happy to mention

[2022-04-12 20:47] #109 closed

[2022-04-20 06:31] harlan-zw commented on #108
Closing this as the above seems to be the issue, please re-open if that's not the case.

[2022-04-20 06:31] #108 closed

[2022-04-20 06:34] harlan-zw commented on #99
This one should have been solved to the migration to unbuild, going to close it off. Please re-open if it's still an issue

[2022-04-20 06:34] #99 closed

[2022-04-20 07:00] keuby opened #111 "Removing the rule will cause other loaders to not get the correct options"
**Describe the bug**
The loader removal operation was performed in the windicss-style-pitcher of the plug-in, which would cause other loaders to fail to get the loader options value configured in module.rules correctly, resulting in abnormal packing

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository 'https://github.com/keuby/unplugin-bug-demo'
2. Run 'yarn install && yarn build

[2022-04-20 08:02] #111 closed

[2022-04-20 08:07] xliez opened #112 "Optional chaining (?.) in dist/plugin.cjs makes build project crash while in Node.js version lower than 14"
**Describe the bug**
Optional chaining (?.) in dist/plugin.cjs make build crash while in Node.js version lower than 14

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository '...'
2. Run '....'
3. See error

**Expected behavior**
Build pass

**Screenshots**
![image](https://user-images.githubusercontent.com/15049079/164180871-f2c72dca-ff22-4573-a629-b3c8a6eecea1.png)

**Additional

[2022-04-20 08:07] harlan-zw commented on #111
Hey @keuby

Thanks for digging into this and the reproduction repo, I was able to replicate the issue and find the problem. As far as I can tell [my solution](https://github.com/windicss/windicss-webpack-plugin/commit/f25545ac78e1539148921f087821e58b776cf125) fixes the issue without introducing any regression, but if you see anything obvious please let me know.

 The bug fix is in the new release

[2022-04-20 08:25] #112 closed

[2022-04-20 08:27] harlan-zw commented on #112
Hey @xliez

Thanks for reporting the issue! Have updated the build configuration for an es2019 target which should fix this.

If you have issues with 1.7.2 can you please let me know :)

[2022-05-05 02:57] jetBn opened #113 "why example run has error?"
![image](https://user-images.githubusercontent.com/26957220/166857565-30e1533c-723e-4844-9b30-91f5dc68f714.png)

[2022-05-16 11:26] await-ovo commented on #113
`example/next`  use local `windicss-webpack-plugin`, maybe we should run `pnpm i` at the root of the repository, then build it, then run  dev in `exmaple/next` and we shouldn't run into this error~

[2022-05-23 00:42] harlan-zw commented on #113
Thanks @await-ovo, that's right.

The proper workflow to use the example would be:
- `pnpm i`
- `pnpm build`
- cd `examples/next`
- `yarn install`
- `yarn dev`

The use of different package managers is a bit hacky but it was my solution to avoid hoisting issues with frameworks having different majors

[2022-05-23 00:44] harlan-zw commented on #113
Actually, I think this was an issue introduced with https://github.com/windicss/windicss-webpack-plugin/pull/110 where the client isn't package

[2022-05-23 00:53] #113 closed

[2022-05-23 00:54] harlan-zw commented on #113
Fixed in 1.7.3

[2022-05-27 08:10] LanJamRom commented on #92
now, umi4 has provide [tailwind plugin](https://github.com/umijs/umi-next/blob/master/packages/plugins/src/tailwindcss.ts) that work in msfu mode as well. I tried to write a windicss plugin referring to this tailwind plugin, but failed.

[2022-05-31 09:58] jiangyh1024 commented on #107
+1

[2022-07-28 03:04] bobkangkang commented on #107
i think umi not supported virtual css in class, reset projects can take effect when you change class.@apply also good choose

[2022-07-28 05:04] bobkangkang commented on #107
i find delete mfsu configuration in .umirc.ts can be useful

[2022-07-29 02:20] HomyeeKing commented on #34
@harlan-zw I also met this issue,
[code]
shouldn't the virtual module be replaced w/ something real?

[2022-07-30 01:21] harlan-zw commented on #34
Hey guys, happy to look into this but I'll need a reproduction repo

[2022-07-30 01:25] harlan-zw commented on #107
I think UMI may be rolling a custom HMR or something. I'm not too familiar with the project sorry, would appreicate any help with this issue

[2022-07-31 06:55] HomyeeKing commented on #34
@harlan-zw
I think maybe something wrong on project config and I haven't figure out:

 I am building a component library w/ windicss and webapack
 I transform code in ESM format so the user can get component tree-shaked, the problem is that the transformed code still contain `windi.css` import statement
[code]
and the components are written in `css module` format which is
[code]

so I wonder can w

[2022-08-04 04:31] chengchongzhen opened #114 "Production environment, scoped generates different dom id and style id"
**Describe the bug**
Production environment, scoped generates different dom id and style id; When I use the windicss plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository '...'
2. Run '....'
3. See error

**Expected behavior**
I want the custom style to be displayed normally

**Screenshots**
![image](https://user-images.githubusercontent.com/52627267/182763425-40ed8d21-b1f2

[2022-08-04 08:38] harlan-zw commented on #114
Hi, can you provide some replication code

[2022-08-04 12:36] Jimmy-JS opened #115 "Devtools issue on webpack integration"
**Describe the bug**
Got error after following all of the instruction to install windi from webpack:
`[eslint] No files matching '/Users/****/Documents/Code/*****/src/virtual:windi-devtools.js' were found.`

in my `src/index.tsx` I already append:
[code]

Also when I tried to update some class using dev tools, my react app stop working with this error:
`Error: ENOENT: no such file or directory, op

[2022-08-05 01:46] azhen98 commented on #114
I tried to write a demo, but failed to reproduce, the problem is in the company project, I can only remove the scoped to solve

配置文件

[code]

[2022-08-09 08:50] Jimmy-JS commented on #115
any answers? because I needed it

[2022-08-17 20:31] harlan-zw commented on #34
Hey @HomyeeKing

That is correct in theory, the virtual module should be replaced.

I haven't really had much experience with this setup, if you are able to provide the repo you're working from I can take a look and maybe find a solution

[2022-08-23 02:01] HomyeeKing commented on #34
@harlan-zw
The component library is using css-in-js and my expectation is that the end user don't have to care about configuring windicss, just use the library.
I've been thinking that whether the Atomic CSS framework like `tailwindcss` and `windicss` is not suitable for CSS-in-JS? Neither of docs talk about how to use it with css-in-js, one solution I can figure out is using like:

[code]
looks a

[2022-08-29 06:40] g-plane opened #116 "Failed to use in a TypeScript-format webpack configuration"
**Describe the bug**

Failed to use in a TypeScript-format webpack configuration.

**To Reproduce**

An example for `webpack.config.ts`: (Note that it's `.ts`, not `.js`)

[code]

**Expected behavior**

No type-check errors.

**Actual behavior**

With the code example above, TypeScript will complain:

[code]

The reason I think is `WindiCSSWebpackPlugin` uses a extended `Compiler` type with additi

[2022-08-29 09:14] #116 closed

[2022-08-29 09:21] harlan-zw commented on #116
Hey @g-plane

Looks like I wrote the types pretty poorly originally, resulting in your issue above. I've used proper ts augmentation now which should fix it (https://github.com/windicss/windicss-webpack-plugin/commit/11a0b8b6d4a26661571e63108a1628be900f3dc4)

I appreciate the proactive PR though, but i'll prefer the above commit over it, just in-case third-party packages want to use `$windi` on th

[2022-08-29 09:42] harlan-zw commented on #116
The `$windi` variable is already attached to the compiler at runtime, the typescript augmentation is simply exposing that fact.

Can you elaborate on why you think it's unexpected or may cause bugs? It's exposed to allow the loaders to work, as well as allowing third-party plugins to use the windi service

[2022-08-29 10:36] g-plane commented on #116
If exposing `$windi` for other loaders and third-party plugins are expected and documented as public API, that should be OK, but I can't find any documentation about this. Also, generally a property or a variable prefixed with `$` means it's private. (Of course, this is just conventional.)

Besides, if there's a project install and use this plugin, and that project contains its own webpack plugins

[2022-08-29 10:57] harlan-zw commented on #116
The augmentation is the documentation for the service, if someone wants to use Windi they can read the types. If someone "accidentally" accesses the $windi properly, how is that my problem? I don't see how that's possible anyway.

The $ convention is a pre-existing pattern for webpack plugins, for example, see the original esbuild webpack plugin: https://github.com/privatenumber/esbuild-loader/blo

[2022-09-02 11:30] Coachonko opened #118 "Devtools not working Webpack 5.74"
In my entry point

[code]

windi is imported correctly, but windi-devtools results in an empty virtual module being imported. if `import 'windi.css';` works I expect `import 'windi-devtools';` to work too.

`import 'virtual:windi-devtools'` breaks with
[code]

No further information is provided by the readme.

[2022-09-06 12:23] einar-hjortdal opened #119 "Class xl:w-[calc(50%-(140px/2))] does not work"
xl:w-[calc(50%-(140px/2))] is not parsed
w-[calc(50%-(140px/2))] is not parsed
w-[calc(50%-(140px*2))] is not parsed
w-[calc(50%-(140px+2))] is not parsed
w-[calc(50%-(140px-2))] is not parsed

w-[calc(50%-70px)] is parsed
w-[calc(50%-(140px%2))] is parsed
xl:w-[calc(50%-(140px%2))] is parsed

Everything works fine on https://windicss.org/play so I suspect it is a webpack plugin issue. This forces

[2022-09-21 09:26] bongudth commented on #34
💩 First, remove WindiCSS from your project, using `yarn remove vue-cli-plugin-windicss`.

💪 Let's start from scratch!

When you add WindiCSS to your project if you see this warning appear:

🙉 DON'T IGNORE IT!

Please **commit** or **stash** uncommitted changes first, then add WindiCSS, using `vue add windicss`.

After that, when running the project, you may continue to get the error

Now you need

[2022-09-21 10:30] Coachonko opened #120 "default fontFamily change not working"
My configuration
[code]
Out puts
[code]
The string `"Candid"` is ignored, in fact I think the setting is ignored entirely. The configuration
[code]
Outputs the same
[code]

[2022-09-21 10:55] #120 closed

[2022-09-21 11:03] Coachonko commented on #120
After 2 webpack restarts, it suddenly works

[2022-09-23 06:33] HomyeeKing commented on #34
@bongudth  sorry I don't get what you want to say and I'm not using it in `Vue`, just a library with webpack
btw, I think css-in-js maybe better for a component library than the atomic css

[2022-11-04 02:20] lianghx-319 opened #122 "Break React.Context in production build"
**Describe the bug**
In some case, this plugin break the source code, which is written by react.

Specific, when the code about `React.Context` included in plugin process, the behavior will change in production build. But dev mode is all find.

**To Reproduce Provided later**
Steps to reproduce the behavior:
1. Clone repository '...'
2. Run '....'
3. See error

**Expected behavior**
I can include

[2022-11-04 07:29] lianghx-319 commented on #122
When I compare the output between using windicss plugin and not using windicss plugin. I found that the duplicate react hook, wrapped the react context. And Provider and Consumer reference the different react context.

I built my project on debian os. node version is v14.20.0

[2022-11-23 08:05] keuby opened #123 "scoped style compile error in .vue file"
**Describe the bug**
After setting the 'important' option to '#app' in 'windi.config.ts', using '@apply' while using the top layer ':deep' in the '.vue' file causes scoped style compilation error

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository 'https://github.com/keuby/unplugin-bug-demo'
2. Run 'yarn install && yarn serve'
3. The text color of 'this content in comp' should b